# vscode directory
.vscode

# Build directories
build/*
**/Release
**/Debug

# Junk
old

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.un~
*.swo
*.swp

# From libigl:
# use glob syntax.
libigl/*.a
libigl/*.dylib
libigl/*.egg-info/
libigl/*.exe
libigl/*.ilk
libigl/*.log
libigl/*.o
libigl/*.opensdf
libigl/*.orig
libigl/*.pdb
libigl/*.psess
libigl/*.pyc
libigl/*.sdf
libigl/*.so
libigl/*.so.[0123456789]
libigl/*.so.[0123456789].[0123456789]
libigl/*.suo
libigl/*.swo
libigl/*.swp
libigl/*.tlog
libigl/*.user
libigl/*.vsp
libigl/*CMakeFiles*
libigl/*buildXcode*
libigl/*tags
libigl/*~
libigl/.DS_Store
libigl/.idea/
libigl/.vs/
libigl/.vscode/
libigl//external
libigl/Debug/
libigl/README.html
libigl/Release/
libigl/Untitled.ipynb
libigl/build
libigl/doc.html
libigl/documentation/*.aux
libigl/documentation/*.log
libigl/documentation/*.out
libigl/example
libigl/example1
libigl/example_header_only
libigl/example_static
libigl/examples/*/*.mexmaci64
libigl/examples/*/*.rbr
libigl/examples/bbw/bbw_demo
libigl/examples/bbw/bbw_demo_selfcontained.zip
libigl/examples/bbw/bbw_demo_selfcontained/*
libigl/examples/bbw/examples/*-volume.dmat
libigl/examples/bbw/examples/*-volume.mesh
libigl/examples/principal_curvature/curvature
libigl/examples/quicklook-mesh/Mesh.qlgenerator/*
libigl/examples/upright/upright
libigl/external/MeshFix/meshfix
libigl/external/embree/build/*
libigl/external/glew/build
libigl/external/glfw/build
libigl/external/libpng/build
libigl/external/medit/rebar.rbr
libigl/external/tetgen/tetgen
libigl/external/tinyxml2/build
libigl/external/tinyxml2/test
libigl/external/tinyxml2/tinyxml2.pc
libigl/external/yimg/showpng
libigl/iglhelpers.pyc
libigl/lib
libigl/libigl.zip
libigl/optional/build
libigl/python/.idea
libigl/python/.ipynb_checkpoints
libigl/python/__pycache__
libigl/python/build
libigl/python/build2
libigl/python/build3
libigl/python/build4
libigl/python/builddebug
libigl/python/buildstatic
libigl/python/py_igl/todo
libigl/python/py_igl/todo
libigl/python/scripts/generated
libigl/scripts/change_name.sh
libigl/site/
libigl/syntax: glob
libigl/tests/bin
libigl/tests/build
libigl/tests/data
libigl/tutorial/*/*.mexmaci64
libigl/tutorial/*/Makefile
libigl/tutorial/*/build/*
libigl/tutorial/.idea
libigl/tutorial/XXX_test/CMakeLists.txt
libigl/tutorial/XXX_test/main.cpp
libigl/tutorial/build
libigl/tutorial/cmake-build-debug
libigl/tutorial/data
libigl/tutorial/readme.html
libigl/untitled
